/*================= LOGIN SECTION ===================== */

.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .form-content{
    position:relative;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
  }
  
  section .form-content .sci{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }
  
  section .form-content .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    cursor: pointer;
  }
  
  section .form .sci li:hover{
    background: #0171d3;
  }
  
  section .form .sci li img{
    transform: scale(0.5);
    filter: invert(1);
  }
  
  /* Formatação dos botões de login */
  header{
    color: #232836;
    text-align: center;
  }
  
  .form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
  }
  
  .field input,
  .field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
  }
  
  .field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
  }
  
  .field input:focus{
    border-bottom-width: 2px;
  }
  
  .eye-icon{
    position:absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
  }
  
  .field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .field button:hover{
    background-color: rgb(34, 215, 239);
    color: black;
  }
  
  .form-link{
    text-align: center;
    margin-top: 10px;
  }
  
  .form-link span,
  .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
  }
  
  .form a{
    color: #0171d3;
    text-decoration: none;
  }
  
  .form-content a:hover{
    text-decoration: underline;
  }
  
  .line{
    position: relative;
    height:1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
  }
  
  .line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    color: #8b8b8b;
    padding: 0 15px;
  }
  
  
  /*================= END LOGIN SECTION ===================== */